.reset-password-confirm-container {
  max-width: 400px;
  margin: 40px auto 0;
  padding: 0 16px;
}

.reset-password-confirm-title {
  margin-bottom: 16px;
  text-align: center;
}

.reset-password-confirm-alert {
  margin-bottom: 16px;
}

.reset-password-confirm-form {
  display: flex;
  flex-direction: column;
}

.reset-password-confirm-input {
  margin-bottom: 16px;
}

.reset-password-confirm-button {
  width: 100%;
}
