.reset-password-container {
  max-width: 400px;
  margin: 40px auto 0;
  padding: 0 16px;
}

.reset-password-title {
  margin-bottom: 16px;
  text-align: center;
}

.reset-password-alert {
  margin-bottom: 16px;
}

.reset-password-form {
  display: flex;
  flex-direction: column;
}

.reset-password-input {
  margin-bottom: 16px;
}